[user]
    name = Tom Dymond
    email = tom@kmem.org

[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto

[core]
        editor = vim
        autocrlf = input
        safecrlf = true
        excludesfile = ~/.gitignore_global

[difftool]
        prompt = false

[merge]
        tool = opendiff

[git-tmbundle]
        gitx-path = /Applications/GitX.app

[alias]
        co = checkout
        ci = commit
        st = status
        br = branch
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        type = cat-file -t
        dump = cat-file -p

